*{
	
    outline: none!important;
	-webkit-outline: none!important;
	
}
html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;

}



.img-container{
	
	padding-bottom:0px;

	display: flex;
	justify-content: center;
}
.consectetur{
	display: flex;
	justify-content: center;

	height: 100%;
	width: 100%;
}
.front-img{
	/*float: right;*/
	padding-bottom:0px;

	height: auto;

}
@media(min-width: 720px){
	.front-img{
		width: 100%;
	}
}

.sp-card {
    background: gray;
    border-radius: 10px;
    padding: 10px 15px;
    
    width: fit-content;
    color: white;

    transition-duration: 0.3s;
}


.sp-card:hover {
    transition-duration: 0.1s;
    transform: scale(1.02);
}


.sp-card.no-hover:hover {
    transform: scale(1);
    transition-duration: 0s;
}

	.container{
		padding-left: 10px;
		padding-right: 10px;
	}
	.container-fluid{
		padding-left: 10px;
		padding-right: 10px;
	}
.site-section{
	padding-bottom: 60px;
}



@media(max-width: 720px){
	.p-main{
		padding: 0px 10px;
	}
}
@media(min-width: 721px){
	.p-main{
		padding: 0px 100px;
	}
}

.blog-entry .img-wrap {
	flex: -1 0 250px;
}



.photo-container{
		padding-top: 40px;
		padding-bottom: 60px;
		padding-left: 10px;
		padding-right: 10px;
	}
@media(max-width: 974px){
	.photo-container{
		padding-top: 100px;
	}
}
@media(min-width: 975px){
	.photo-container{
		padding-top: 40px;
	}
}

.container-padding{
	padding: 0px 10px;
}

.header-bar .site-logo a {
	font-size: 17px;
}

.site-mobile-menu .site-nav-wrap ul a{
	padding: 0px 0px;
}




@media(max-width: 721px){
	.front-image{
		display: none;
	}
}


@media(max-width: 721px){
	.front-img{
		width: 70%;
	}
	.consectetur{
		display: flex;
		align-items: center;
		justify-content: center;
		align-content: center;/*flex-end*/
	}
}
body{
	color: #a7a7a7;
}

.linked{
	color: #2700ff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;

    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}